body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background-color: #282c34;
}

.cardPanel {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background-color: #282c34;
}
