body {
  display: block;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background-color: #282c34;
}

.cardPanel {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background-color: #282c34;
}

.Unselected {
  align-items: center;
  margin: 10px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.687);
  border: 0px;
  border-radius: 5px;
  height: 20px;
  width: 200px;
}
